html * {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	width: 1280px;
	height: 720px;
	font-family: SimHei;
	overflow: hidden;
}
img {
	border: none;
}
a {
	outline: none;
	text-decoration: none;
}
li{
	display: inline-block;
	list-style: none;
}
/* header start */
#header {
	position: absolute;
	top: 40px;
	width: 100%;
	
}
#header .header-nav {
	width: 1152px;
	margin: 0 auto;
}
#header span {
	display: inline-block;
	width: 216px;
	height: 106px;
	margin: 0 4px;
}
.nav-1 {
	background: url('../images/nav-1.png');
}
.nav-2 {
	background: url('../images/nav-2.png');
}
.nav-3 {
	background: url('../images/nav-3.png');
}
.nav-4 {
	background: url('../images/nav-4.png');
}
.nav-5 {
	background: url('../images/nav-5.png');
}
.nav-1.active {
	background: url('../images/nav-1-active.png');
}
.nav-2.active {
	background: url('../images/nav-2-active.png');
}
.nav-3.active {
	background: url('../images/nav-3-active.png');
}
.nav-4.active {
	background: url('../images/nav-4-active.png');
}
.nav-5.active {
	background: url('../images/nav-5-active.png');
}
.nav-1.focus {
	background: url('../images/nav-1-focus.png');
}
.nav-2.focus {
	background: url('../images/nav-2-focus.png');
}
.nav-3.focus {
	background: url('../images/nav-3-focus.png');
}
.nav-4.focus {
	background: url('../images/nav-4-focus.png');
}
.nav-5.focus {
	background: url('../images/nav-5-focus.png');
}
/* header end */

/* footer start */
#footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	
}
#footer .footer-menu{
	width: 512px;
	margin: 0 auto;
	
}
#footer span {
	display: inline-block;
	width: 92px;
	height: 62px;
	margin: 0 15px;
}
.menu-1 {
	background: url('../images/menu-1.png');
}
.menu-2 {
	background: url('../images/menu-2.png');
}
.menu-3 {
	background: url('../images/menu-3.png');
}
.menu-4 {
	background: url('../images/menu-4.png');
}
.menu-1.focus {
	background: url('../images/menu-1-focus.png');
}
.menu-2.focus {
	background: url('../images/menu-2-focus.png');
}
.menu-3.focus {
	background: url('../images/menu-3-focus.png');
}
.menu-4.focus {
	background: url('../images/menu-4-focus.png');
}
/* footer end */

#controller a {
	display: inline-block;
	float: left;
}
#controller .con-header {
	position: absolute;
	top: 0;
}
#controller .con-footer {
	position: absolute;
	bottom: 0;
}
/* 播放图标 */
.icon-play {
	position: absolute;
	width: 70px;
	height: 70px;
	background: url('../images/btn-play.png') no-repeat;
}
/* 翻页箭头图标 */
.prev, .next {
	display: inline-block;
	position: absolute;
	width: 25px;
	height: 80px;
}
.prev {
	background: url('../images/prev.png') no-repeat;
}
.next {
	background: url('../images/next.png') no-repeat;
}