.expon-container {
    position: relative;
    top: 111px;
}
.expon-content{
	position: absolute;
	top:0;
	left:50px;
}
.expon-content .text{
	font-size: 34px;
	overflow: hidden;
	display: block;
	color: #000;
}
.text-border{
    position: absolute;
    top: 75px;
    width: 206px;
    height: 255px;
    line-height: 85px;
    text-align: center;
}
.text-border a:focus{
	color: #f5a817;
}
.show-city{
	position: absolute;
	left:206px;
	top:0;
	text-indent: 38px;
	height: 52px;
	width: 500px;
	font-size: 42px;
	overflow: hidden;
	background: url(../images/icon-city.png) no-repeat;
}
.trend-day{
	font-size: 28px;
	text-align: center;

}
.list-container{
	position: absolute;
	top:53px;
	left:206px;
	width: 1135px;
	height:427px;
	background: url(../images/list-bg.png) no-repeat;
}
.expon-content .expon .list-1{
    margin-left: 25px;
	font-size: 0;
}
.expon-content .expon .list-1 li,
.expon-content .expon .list-2 li{
	position: relative;
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    overflow: hidden;
    width: 112px;
    height: 142px;
    margin-right: 50px;
    margin-left: 25px;
}
.expon-weather{
	text-align: center;
	font-size: 28px;
	padding: 7px 0;
	overflow: hidden;
}
.situation{
	font-size: 24px;
	color: #646464;
	overflow: hidden;
}
.min-temp ,.max-temp{
position: absolute;
bottom: 0;
width: 50px;
text-align: center;
}
.min-temp {
	background: url(../images/min-temp.png);
}
.max-temp {
	margin-left: 50px;
	background: url(../images/max-temp.png);
}
.expon-content .disp{
	display: block;
	float: right;
	margin-top: 45px;
}
.expon-content .bg-county,.bg-trend,.bg-expon{
	width: 135px;
	height: 35px;
}
.expon-content .bg-county{
	background: url(../images/county.png) no-repeat;
}
.expon-content .bg-trend{
	background: url(../images/trend.png) no-repeat;
}
.expon-content .bg-expon{
	background: url(../images/expon.png) no-repeat;
}
.expon-content .bg-county:focus{
	width: 135px;
    height: 35px;
	background: url(../images/focus-county.png) no-repeat;
}
.expon-content .bg-trend:focus{
	width: 135px;
    height: 35px;
	background: url(../images/focus-trend.png) no-repeat;
}
.expon-content .bg-expon:focus{
	width: 135px;
    height: 35px;
	background: url(../images/focus-expon.png) no-repeat;
}
.con-footer{
	width: 1000px;
	left:100px;
}
.con-footer a{
	margin-right: 5px;
	width: 20%;
}s