.infor-container{
	position: absolute;
	top:0px;
	left: 0px;
}
.marquee-border{
	position: absolute;
	display: inline-block;
	top:150px;
	left:50px;
	width: 1200px;
	height:45px;
	background: url(../images/voice.png) no-repeat;
	border-bottom: 1px solid #2976b2;
	border-top: 1px solid #2976b2;
}
.infor-container .marquee{
	position: absolute;
	display: inline-block;
	/*top:150px;*/
	left:75px;
	width: 1126px;
	height: 45px;
	/*text-indent: 80px;*/
	font-size: 26px;
	color: #000000;
	line-height: 45px;
	overflow: hidden;
}
.infor-container .map{
	position: absolute;
	top:197px;
	left:75px;
}
.map .circul-content{
	position: absolute;
	width: 426px;
	height:390px;
	top:28px;
	left:663px;
	font-size: 24px;
	text-align: center;
	background: url(../images/circular.png) no-repeat;
}
.circul-content .rank{
	display: inline-block;
	vertical-align: middle;
}
.circul-content .img{
	margin-left: 15px;
    margin-right: 20px;
}
.map .circul-content .list1{
	padding-top:18px; 
}
.map .circul-content .list1,.list2,.list3,.list4{
	display: inline-block;
	border-bottom: 1px solid #ffffff;
	width: 344px;
}
.map .circul-content .list5{
	display: inline-block;
}
.map-content{
	position: absolute;
	left:0;
	top:0;
}
.map-content .bs{
	position: absolute;
	left:11px;
	top:122px; 
	width: 265px;
	height:200px;
}
.map-content .hc{
	position: absolute;
	left:166px;
	top:85px;
	width: 200px;
	height: 180px;

}
.map-content .nn{
	position: absolute;
	left:209px;
	top:197px;
	width: 198px;
	height: 180px;
}
.map-content .cz{
	position: absolute;
	left:151px;
	top:255px;
	width: 140px;
	height: 170px;
}
.map-content .fcg{
	position: absolute;
	left:214px;
	top:326px;
	width: 130px;
	height: 110px;
}
.map-content .qz{
	position: absolute;
	left:281px;
	top:315px;
	width: 145px;
	height: 106px;
}
.map-content .bh{
	position: absolute;
	left:309px;
	top:366px;
	width: 130px;
	height: 80px;
}
.map-content .yl{
	position: absolute;
	left:376px;
	top:262px;
	width: 130px;
	height: 165px;
}
.map-content .gg{
	position: absolute;
	left:341px;
	top:187px;
	width: 140px;
	height: 150px;
}
.map-content .lb{
	position: absolute;
	left:290px;
	top:166px;
	width: 180px;
	height: 112px;
}
.map-content .lz{
	position: absolute;
	left:306px;
	top:44px;
	width: 135px;
	height: 190px;
}
.map-content .gl{
	position: absolute;
	left:390px;
	top:17px;
	width: 140px;
	height: 170px;
}
.map-content .wz{
	position: absolute;
	left:435px;
	top:174px;
	width: 125px;
	height: 165px;
}
.map-content .hz{
	position: absolute;
	left:450px;
	top:108px;
	width: 138px;
	height: 138px;
}
.map-content .bs.focus{
	background:url(../images/gx-bs.png) no-repeat;
}
.map-content .hc.focus{
	background: url(../images/gx-hc.png)no-repeat;
}
.map-content .nn.focus{
	background: url(../images/gx-nn.png)no-repeat;
}
.map-content .cz.focus{
	background: url(../images/gx-cz.png)no-repeat;
}
.map-content .fcg.focus{
	background: url(../images/gx-fcg.png)no-repeat;
}
.map-content .qz.focus{
	background: url(../images/gx-qz.png)no-repeat;
}
.map-content .bh.focus{
	background: url(../images/gx-bh.png)no-repeat;
}
.map-content .yl.focus{
	background: url(../images/gx-yl.png)no-repeat;
}
.map-content .gg.focus{
	background: url(../images/gx-gg.png)no-repeat;
}
.map-content .lb.focus{
	background: url(../images/gx-lb.png)no-repeat;
}
.map-content .lz.focus{
	background: url(../images/gx-lz.png)no-repeat;
}
.map-content .gl.focus{
	background: url(../images/gx-gl.png)no-repeat;
}
.map-content .wz.focus{
	background: url(../images/gx-wz.png)no-repeat;
}
.map-content .hz.focus{
	background: url(../images/gx-hz.png)no-repeat;
}
.con-header{
	width: 1000px;
	margin-left: 100px;
}
#controller .con-header a{
	width: 16%;
	margin-left:5px;
	height:10px;
	background: #000;
}
.con-information-1,.con-information-2,.con-information-3,
.con-information-4,.con-information-5{
	top:60px;
    position: absolute;
    top: 20px;
    left: 50px;
    width: 600px;
}
.con-information-4{
	width: 500px;
}
.con-information-2{
	top:40px;
    left: 566px;
}
.con-information-3{
	top:60px;
}
.con-information-4{
	top:80px;
}
.con-information-5{
	top:100px;
	left:288px;
}
 .con-information-1 a,.con-information-2 a,.con-information-3 a,
 .con-information-4 a,.con-information-5 a{
	width: 125px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
	height:10px;
	background: #000;
}
.con-information-2 a{
	width: 40px;
}
.con-information-1 a:first-child,.con-information-3 a:first-child,.con-information-4 a:first-child{
	width: 180px;
	margin-left: -13px;
}
.con-information-5 a:first-child{
 width: 321px;
}
.con-information-4 a:first-child{
	width: 100px;
	margin-left: -13px;
}
.con-information-1 a:last-child,.con-information-3 a:last-child{
    width: 73px;
}
.con-information-3 a:last-child{
	width: 108px;
}
.con-information-4 a:last-child{
	width: 108px;
	position: absolute;
	left: 450px;
}
.con-information-5 a:last-child{
    width: 124px;
    position: absolute;
    left: -117px;
    top: 17px;
}
#controller .con-footer{
	width: 900px;
	margin-left: 50px;
}
#controller .con-footer a{
	width: 24%;
	margin-left: 5px;
	height: 10px;
	background: #000;
}
#controller .con-footer a:first-child{
	width: 200px;
}